body {
  background-color: #333;
  background: repeating-linear-gradient(45deg, #f6f6f6 0, #f6f6f6 5%, #fff 0, #fff 50%) 0 / 20px 20px;
}

.highlight:hover {
  background-color: #FFffff;
  color: #3498db;
  border:
}

